* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr)
}
header {
    grid-row: 1 / 2;
    grid-column: 2 / 8; /* or 2 / -2 */
}
header h1 {
    margin: 0;
}
nav {
    grid-row: 2 / 3;
    grid-column: 2 / 8; /* or 2 / -2 */
}

