* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr)
}
header {
    grid-row: 1 / 2;
    grid-column: 2 / 8; /* or 2 / -2 */
}
header h1 {
    margin: 0;
}
nav {
    grid-row: 2 / 3;
    grid-column: 2 / 8; /* or 2 / -2 */
}
#homehero {grid-row: 3/4;
grid-column: 2/8; /*or 2 / -2 */
}
#studenthero {grid-row: 3/4;
grid-column: 2/8; /*or 2 / -2 */
}
#facultyhero {grid-row: 3/4;
grid-column: 2/8; /*or 2 / -2 */
}
.main-selector {grid-row: 4 / 5;
grid-column: 2/8;
background-color:#ffffff
}
.footer {grid-row: 5/6;
grid-column: 2/8 /*or 2 / -2 */;
}
header {text-decoration: none;
color: #ffffff;}
main img {
    float: right;
    padding-left: 2rem;
}
nav {
    background-color:#424242 ;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
}
nav ul li{
    width: 100;
}
nav a {
    display: block;
    padding: 1rem 0rem;
    text-align: center;
    color: #ffffff;
}
nav a:hover {
    background-color: #ba1c21;
}




