body{
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial, sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1 {
    line-height: 140%;
    padding: .5rem;
    padding-left: 1rem;
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 0;
}
nav {
    background-color: #f3f3f3;
    font-weight: bold;
    padding: .5rem;
    padding-left: 1rem;
    font-style: bold;
}
h2 {  
     color: #424242;
    font-family: 'Times New Roman', Times, serif;
}
dt {
    font-weight: bold;
    color:#BA1C21;
}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
footer {
    font-size: .70rem;
    font-style: italic;
}
#wrapper {
    background-color: #FFFFFF;
    min-height: 960px;
    max-width: 2048px;
    margin: auto;
    width: 80%;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
}
h3 {
    color: #003058;
}
main {
    padding-left: 2rem;
    padding-right: 2rem;

}
#homehero {
    background-image: url(../utahtechimages/homehero.jpg);
    background-size: cover;
    background-repeat: cover;
    background-position: center;
    height: 300px;
}
#facultyhero {
    background-image: url(../utahtechimages/facultyhero.jpg);
    background-size: cover;
    background-repeat: cover;
    background-position: center;
    height: 300px;
}
#studenthero {
    background-image: url(../utahtechimages/studenthero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
nav a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr)
}
header {
    grid-row: 1 / 2;
    grid-column: 2 / 8; /* or 2 / -2 */
}
header h1 {
    margin: 0;
}
nav {
    grid-row: 2 / 3;
    grid-column: 2 / 8; /* or 2 / -2 */
}
#homehero {grid-row: 3/4;
grid-column: 2/8; /*or 2 / -2 */
}
#studenthero {grid-row: 3/4;
grid-column: 2/8; /*or 2 / -2 */
}
#facultyhero {grid-row: 3/4;
grid-column: 2/8; /*or 2 / -2 */
}
.main-selector {grid-row: 4 / 5;
grid-column: 2/8;
background-color:#ffffff
}
.footer {grid-row: 5/6;
grid-column: 2/8 /*or 2 / -2 */;
}
header a {text-decoration: none;
color: #ffffff;}
main img {
    float: right;
    padding-left: 2rem;
}
nav {
    background-color:#424242 ;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
}
nav ul li{
    width: 100;
}
nav a {
    display: block;
    padding: 1rem 0rem;
    text-align: center;
    color: #ffffff;
}
nav a:hover {
    background-color: #ba1c21;
}
main img {
    float:right;
    padding-left: rem;
}